@use "sass:math";

@import 'bourbon';

// adapted from https://codepen.io/dpiron/pen/GgyJQd

$base-font-size: 16px;
$rhythm-size: round($base-font-size * 1.6);
$base-line-height: math.div($rhythm-size, $base-font-size);

$heading-color: #979;
$base-color: #656;

$guide-color-dark: #fee;
$guide-color-light: lighten($guide-color-dark, 10%);

//$enable-guide: null;
$enable-guide: 1;

%headings-common {
    color: $heading-color;
    font-family: 'Signika', sans-serif !important;
    box-sizing: border-box;
}

$ratio: $minor-third;

$h1-size: modular-scale(6, $base-font-size, $ratio);
$h2-size: modular-scale(5, $base-font-size, $ratio);
$h3-size: modular-scale(4, $base-font-size, $ratio);
$h4-size: modular-scale(3, $base-font-size, $ratio);
$h5-size: modular-scale(2, $base-font-size, $ratio);
$h6-size: modular-scale(1, $base-font-size, $ratio);

$aside-size: modular-scale(-1, $base-font-size, $ratio);
$tiny-size: modular-scale(-2, $base-font-size, $ratio);

$bk-color: rgba(55, 55, 55, 0.1);

// TODO: replace with .journal-sheet, .editor, .chat-message later

.encounter,
article {
    color: $base-color;

    // margin already provided by editor
    // margin: 0 2em;

    // font forced Signika, so vertical rythmn stays in place.
    font-family: 'Signika';
    font-size: $base-font-size;
    line-height: $base-line-height;
    /* background to help with rthymn. Horizontal strips from http://lea.verou.me/css3patterns/#horizontal-stripes */
    @if $enable-guide {
        background-color: $guide-color-light;
        background-image: linear-gradient(
            transparent 50%,
            $guide-color-dark 50%
        );
        background-size: $rhythm-size * 2 $rhythm-size * 2;
    }

    p {
        margin: $rhythm-size 0;
    }

    em {
        font-style: italic;
    }

    a {
        text-decoration: none;
        color: $heading-color;
    }

    ul {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 2em;
        list-style-type: square;
    }

    h1 {
        @extend %headings-common;
        font-size: $h1-size;
        line-height: math.div($rhythm-size, $h1-size) * 2;
        margin: $rhythm-size 0;
        margin-top: $rhythm-size;
        font-weight: bold;
        letter-spacing: 0.1em;
        border-bottom: none;
        // text-decoration: underline;
        // text-decoration-color: var(--color-underline-header);
    }

    h2 {
        @extend %headings-common;
        font-size: $h2-size;
        line-height: math.div($rhythm-size, $h2-size) * 2 !important;
        margin: $rhythm-size 0;
        font-weight: bold;
        letter-spacing: 0.1em;
        border-bottom: none;
        // text-decoration: underline;
        // text-decoration-color: var(--color-underline-header);
    }

    h3 {
        @extend %headings-common;
        font-size: $h3-size;
        line-height: math.div($rhythm-size, $h3-size);
        margin: $rhythm-size 0;
        font-weight: bold;
        letter-spacing: 0.1em;
    }

    h4 {
        @extend %headings-common;
        font-size: $h4-size;
        line-height: math.div($rhythm-size, $h4-size);
        margin: $rhythm-size 0;
        font-weight: bold;
        letter-spacing: 0.1em;
    }

    h5 {
        @extend %headings-common;
        font-size: $h5-size;
        line-height: math.div($rhythm-size, $h5-size);
        margin: $rhythm-size 0;
        font-weight: bold;
        letter-spacing: 0.1em;
    }

    h6 {
        @extend %headings-common;
        font-size: $h6-size;
        line-height: math.div($rhythm-size, $h6-size);
        margin: $rhythm-size 0;
        font-weight: bold;
        letter-spacing: 0.1em;
    }

    $bq-size: $base-font-size * 1.5;

    blockquote {
        position: relative;
        color: darken($base-color, 25%);
        margin-left: 1em;
        padding-top: 0.5 * $rhythm-size;
        padding-bottom: 0.5 * $rhythm-size;
        font-size: $bq-size;
        line-height: math.div($rhythm-size, $bq-size);
        font-style: italic;
        > p {
            margin: 0;
        }
        &:before {
            height: 100%;
            border-right: 3px #ccc solid;
            border-top: 3px transparent solid;
            border-bottom: 3px transparent solid;
            position: absolute;
            left: -1em;
            content: '';
            top: 0;
            bottom: 0;
        }
    }

    .summary {
        width: 35%;
        min-width: 15em;
        float: right;
        outline: $rhythm-size * 0.25 solid $bk-color;
        outline-offset: math.div($rhythm-size, -4);
        border-radius: $rhythm-size * 0.25;
        margin: 0 0 ($rhythm-size * 0.25) ($rhythm-size * 0.25);
        padding: 0 $rhythm-size * 0.5 $rhythm-size * 0.5 $rhythm-size * 0.5;
        background-color: $bk-color;
        font-size: $aside-size;
        line-height: math.div($rhythm-size, $aside-size) * 0.5;

        p {
            margin: $rhythm-size*0.5 0;
        }

        div {
            background-color: $bk-color;
            border-radius: $rhythm-size * 0.25;
            padding: $rhythm-size $rhythm-size * 0.25 0 $rhythm-size * 0.25;
            margin-bottom: $rhythm-size * 0.5;
            position: relative;
        }

        a.entity-link,
        a.content-link,
        a.inline-roll {
            border: none;
            outline: 1px solid var(--color-border-dark-tertiary);
            outline-offset: -1px;
            padding: 0 4px;

            i::before {
                font-size: $tiny-size;
            }
        }

        ul,
        li {
            margin-left: 0;
            padding: 0;
            list-style-type: none;
        }

        li {
            line-height: math.div($rhythm-size, $aside-size) * 0.5;
            background-color: $bk-color;
            margin-bottom: $rhythm-size*0.5;
            // border-radius: $rhythm-size / 4;

            &:last-of-type {
                margin-bottom: $rhythm-size*0.25;
            }
        }

        ul {
            padding-bottom: $rhythm-size * 0.25;
        }
        //     div & {
        //         background-color: $bk-color;
        //     }
        // }

        // ul {
        //     margin-left: 0;
        //     padding: 0 0 0 0.5em;
        //     list-style-type: none;
        // }

        // li {
        //     background-color: $bk-color;
        //     margin-bottom: $rhythm-size/2;
        //     padding: 0 1em $rhythm-size/2 1em;
        //     border-radius: $rhythm-size / 4;
        //     font-weight: bold;

        //     &::before {
        //         content: 'NOTE';
        //         display: block;
        //         opacity: 0.5;
        //         font-weight: normal;
        //         margin-bottom: $rhythm-size/4;
        //         padding-top: $rhythm-size/4;
        //     }
        // }
        // }

        div.secret,
        div.foe,
        div.loot {
            &::before {
                font-style: italic;
                font-weight: bold;
                content: 'NOTES';
                opacity: 0.6;
                line-height: math.div($rhythm-size, $aside-size);
                display: block;
                margin: 0 0 math.div($rhythm-size, -4) 0;
                position: absolute;
                top: 0;
                // font-size: $aside-size;
                // line-height: $rhythm-size / $aside-size / 2;
            }
        }

        div.secret::before {
            content: 'SECRETS';
        }

        div.foe::before {
            content: 'FOES';
        }
        div.loot::before {
            content: 'LOOT';
        }

        // .foe {
        //     font-style: italic;
        //     font-weight: normal;

        //     &::before {
        //         content: 'FOE';
        //         display: block;
        //         opacity: 0.5;
        //     }
        // }

        // .loot {
        //     font-style: italic;
        //     font-weight: normal;

        //     &::before {
        //         content: 'LOOT';
        //         display: block;
        //         opacity: 0.5;
        //     }
        // }
    }

    .main {
        display: table;
    }

    clear: both;
}

// body,
// .editor,
// .chat-message {
//     /* Set default font size for mobile only */
//     font-size: 12px;
//     /* Set base line-height for mobile only */
//     line-height: 1.5; /* 18px */

//     p {
//         margin-top: 1.5em; /* 18px */
//         margin-bottom: 1.5em; /* 18px */
//     }
//     // .item::before {
//     //     content: 'ITEM';
//     //     position: absolute;
//     //     font-weight: bold;
//     //     font-size: 1.5em;
//     //     color: #2225;
//     //     top: -0.75em;
//     // }

//     .encounter {
//         position: relative;
//         margin: 1em 0;

//         &::before {
//             content: 'ENCOUNTER';
//             position: absolute;
//             font-weight: bold;
//             top: -1em;
//         }
//         //&.creature::before {
//         //     content: 'CREATURE';
//         //     position: absolute;
//         //     font-weight: bold;
//         //     font-size: 1.5em;
//         //     color: #2225;
//         //     top: -0.75em;
//         // }
//     }

//     // .summary {
//     //     margin-left: 1em;
//     //     font-size: 0.8em;
//     //     width: 30%;
//     //     min-width: 20em;
//     //     float: right;
//     //     background-color: #00000011;

//     //     dl {
//     //         margin: 0;
//     //         padding: 0;
//     //         background-color: #00000011;
//     //         border-bottom: 1px solid #00000011;
//     //         & > dt {
//     //             font-weight: bold;
//     //             list-style-type: square;
//     //             //background-color: #00000011;
//     //             margin-left: 1em;
//     //         }
//     //         & > dd {
//     //             margin: 0;
//     //             padding: 0;
//     //             // background-color: #00000011;
//     //             margin-left: 2em;
//     //         }
//     //     }
//     // }

//     // .main::after {
//     //     clear: both;

//     //     & > * {
//     //         display: table;
//     //         background-color: #f336;
//     //     }
//     // }

//     // // .statblock {
//     // //     padding: 1em;
//     // //     margin: 1em;
//     // //     background-color: #3332;
//     // //     position: relative;

//     // //     & > p:first-child {
//     // //         font-weight: bold;
//     // //     }

//     // //     // &.creature::before {
//     // //     //     content: 'CREATURE';
//     // //     //     position: absolute;
//     // //     //     font-weight: bold;
//     // //     //     font-size: 1.5em;
//     // //     //     color: #2225;
//     // //     //     top: -0.75em;
//     // //     // }
//     // // }

//     // .readaloud {
//     //     padding: 1em;
//     //     margin: 1em;
//     //     background-color: #3332;
//     //     position: relative;
//     //     border: 1em solid #f336;
//     //     display: table;
//     // }

//     // // dl {
//     // //     & > dt {
//     // //         font-size: 1.25em;
//     // //         font-weight: bold;
//     // //         margin-top: 1em;
//     // //         padding: 0.25em 1em;
//     // //         background-color: #3332;

//     // //         border-left: 0.25em solid #3332;
//     // //         border-top: 0.25em solid #3332;
//     // //         border-right: 0.25em solid #3332;
//     // //     }
//     // //     & > dd {
//     // //         margin: 0;
//     // //         padding: 1em;
//     // //         border-left: 0.25em solid #3332;
//     // //         border-bottom: 0.25em solid #3332;
//     // //         border-right: 0.25em solid #3332;
//     // //     }
//     // // }
// }
